{% extends 'books/base.html' %}
{% block title %}{{ book.title }}{% endblock %}
{% block content %}
    <div class="book-detail">
        <div class="book-info">
            <h1>{{ book.title }}</h1>
            <p><strong>Автор:</strong> {{ book.author.name }}</p>
            <p><strong>Дата публикации:</strong> {{ book.publication_date }}</p>
            <p> {{ book.details.description }}</p>
            
        </div>
    </div>
    <div class="author-detail">
        <div class="author-info">
            <h3>Об авторе</h3>
            <p>{{ book.author.bio }}</p>
        </div>
    </div>
{% endblock %}